// Place all the styles related to the register controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#wrapper_register {
  padding: 1.5%;
  background-color: white;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  border-radius: 2px;
}

#register_box {
  float: left;
  width: 34%;
  padding-left: 1%;
  background-color: #EFEFEF;
  border-radius: 2px; 
}

#info_box {
  float: right;
  padding-left: 1%;
  width: 64%;
 
}

input[type=text], input[type=password] {
  border: 1px solid lightgray;
  margin-top: 2%;
  padding: 1%;
}

input[type=submit] {
  text-align: center;
  width: 50%;
  padding-top: 1%;
  padding-bottom: 1%;
  color: white;
  background-color: #AA1111;
  border: none;
  font-size: 18px;
  border-radius: 5px;
}

@media screen and (max-width: 1250px) {
 
  #wrapper {
    min-width: 480px;
  }
 
  #info_box {
    width:100%;
    text-align:left;
  }

  #register_box {
    width: 100%;
    text-align: left;
  }

  input[type=submit] {
    text-align: center;
    width: 30%;
  }

}
