// Place all the styles related to the register controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$round: 4px;

@font-face {

font-family: delicious;
src:url('/assets/IstokWeb-Bold.ttf');
font-weight: bold;
}

@font-face {

font-family: delicious;
src:font-url('/assets/IstokWeb-Regular.ttf') format('truetype');

}

#wrapper_register {
  font-family: delicious;
  padding: 1.5%;
  background-color: white;
  width: 50%;
  margin: 3% auto;
  border-radius: $round;
}

#register_box {
  margin: 0 auto;
  font-weight: bold;
  font-size: 12px;
  float: left;
  width: 33.5%;
  padding-left: 1%;
  background-color: #EFEFEF;
  border-radius: $round; 
}

#info_box {
  float: right;
  padding-left: 1.5%;
  width: 63.5%;
 
}


input[type=text], input[type=password] {
  border: 1px solid lightgray;
  margin-top: 2%;
  padding: 1%;
}

input[type=submit] {
  text-align: center;
  width: 50%;
  padding-top: 1%;
  padding-bottom: 1%;
  color: white;
  background-color: #AA1111;
  border: none;
  font-size: 18px;
  border-radius: 5px;
}

@media screen and (max-width: 1250px) {
 
  #wrapper_register {
    min-width: 480px;
  }
 
  #info_box {
    width:98.5%;
    text-align:left;
  }

  #register_box {
    width: 99%;
    text-align: left;
  }

  input[type=submit] {
    text-align: center;
    width: 33%;
  }

}

@media screen and (max-width: 769px) {


  #register_box {

    font-size: 50px;

  }

  #info_box {

    font-size: 20px;

  }

}
